@import './base/normalize';
@import './base/typography';
@import './modules/modals';
@import './modules/buttons';
@import './layout/grid';
@import './layout/header';
@import './layout/nav';
@import './layout/main';
@import './layout/form';
@import './layout/footer';
@import './utilities/variables';

// global box sizing
* {
  &:before {
    &:after {
      box-sizing: border-box;
    }
  }
}

// Main container styles
.container {
  height: 100vh;
  padding: 1em;
  background-color: $light-steel-blue;
  background-image: url('../media/main-background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
} 

