
header { grid-area: 'header' };
main { grid-area: 'main' };
footer { grid-area: 'footer' };
h1 { grid-area: 'main-header' };
nav { grid-area: 'nav' };

.container {
  padding: 5em;
  display: grid;
  grid-template-areas: 'header header header header'
                       'main main main main'
                       'main main main main'
                       'main main main main'
                       'footer';
}

header {
  display: grid;
  grid-template-areas: 'main-header main-header nav'
                       'main-header main-header nav';
}

@media screen and (max-width: 768px) {
  .container {
    header {
      nav {
        main {
          footer{
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
  
}

